# Secrets
.env
.env.*
!.env.example

ssh/
docker-compose.dev.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / React
node_modules/
dist/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
